/* add your CSS here */

img {
    height: 200px;
    width: 300px;
    text-align: center;
}

#fact {
    font-style: italic;
}

.card {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 25px 25px 25px;
    margin: 20px;
    width: 350px;
    border: 1px solid #bbbbbb; 
    -webkit-box-shadow: 10px 10px 40px -18px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 40px -18px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 40px -18px rgba(0,0,0,0.75);
}

span {
    font-weight: bold;
}

.inner {
    border: 1px solid #bbbbbb;
    padding: 0px 10px;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}